*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif ;
}
.menu_bar{
    background-color: rgb(101, 104, 105);
    height: 60px;
    width: 100%;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
 align-items: center;

}
.logo{
    color: rgb(244, 239, 239);
    font-size: 30px;
    padding: 140px ;
    margin-top: 250Px;
}
.logo span{
    color: rgb(225, 156, 38);
}
.menu_bar ul{
   list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
}
.menu_bar ul li a{
    color: rgb(249, 247, 247);
    text-decoration: none;
    font-size: 14px;
}
.menu_bar img {
    height: 60px;
    width: 120px;
    margin-left: 70px;
}